@keyframes defile { 
    0% {
        top: 0;
          
    transform: rotateX(30deg) translateZ(0);
    }

    100% {
        top: -5000px;
          
  
        transform: rotateX(35deg) translateZ(-2500px);
    }
}

body{
    background-image: url("img/stars.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    color:whitesmoke;
}


section {
    perspective: 350px;
}

article {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
   
    transform: rotateX(70deg);
    
    position: relative;
    animation: defile 50s linear;
}

h1 {
   color:rgba(32, 32, 218, 0.842);
   font-size: 5em;
}
 

.style {
    text-align: center;
    font-size: 4em;
    color: #FFD500;
    font-weight: 1000 ;
}


